/* register.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.register-container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #45a049;
}

.register-container .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}


.register-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.register-links a {
    color: #4CAF50;
    text-decoration: none;
    margin: 5px 0;
}

.register-links a:hover {
    text-decoration: underline;
}